@model CleanArch.Application.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "SuccessRegister";
}

<h1>Register</h1>
<div class="alert alert-success">
    <h2>@Model.UserName</h2>
    Register Succssed
</div>

